

streamlit==1.28.0
langchain
langchain-core
langchain-community==0.0.21
langchain-groq==0.0.1
python-dotenv==1.0.0
pydantic==1.10.13
requests==2.31.0






# langchain==0.3.13
# langchain-core==0.3.28
# langchain-community==0.3.13
# langchain-openai==0.2.14

